# Assignment 2

In [1]:
# @title Problem 2.1

name = 'Ariful Islam'
age = 27
favColor = 'Black'

print("Name ", name)
print("Age ", age)
print("Favorite Color ", favColor)

Name  Ariful Islam
Age  27
Favorite Color  Black

In [3]:
# @title Problem 2.2

# string
name = 'Ariful Islam'

# Boolean
isTrue = True

# Number
age = 27

# None
performance = None


print(type(name))
print(type(isTrue))
print(type(age))
print(type(performance))

<class 'str'>
<class 'bool'>
<class 'int'>
<class 'NoneType'>

In [6]:
# @title Problem 2.3

# Calculate the area of a rectangle

length = 7
width = 5
area = length * width
print("The area of a rectangle" , area)

# Calculate the perimeter of a rectangle

perimeter = 2 * (length + width)
print("The perimeter of a rectangle" , perimeter)

The area of a rectangle 35
The perimeter of a rectangle 24

In [8]:
# @title Problem 2.4

foodsName = ['Biryani', 'Bhuna Khichuri', 'Aloo Bhorta', 'Tehari', 'Kacchi']

print(foodsName[0])
print(foodsName[4])

Biryani
Kacchi

In [14]:
# @title Problem 2.5

numbers = [2,6,4,9,6]

print(numbers)
# number add
numbers.append(10)
print(numbers)

# number remove
numbers.remove(6)
print(numbers)

# number sort

numbers.sort()
print(numbers)

[2, 6, 4, 9, 6]
[2, 6, 4, 9, 6, 10]
[2, 4, 9, 6, 10]
[2, 4, 6, 9, 10]

In [17]:
# @title Problem 2.6

myStudentInfo = {
    "myName":"Arifui Islam",
    "myUniversityName": "Sonargaon University",
    "Department":"B.Sc. in CSE",
    "Courses":"C Programming, DS, Algo, Java",
    "myEmail":"arifulislamwasim@gmial.com"
}

print(myStudentInfo)

{'myName': 'Arifui Islam', 'myUniversityName': 'Sonargaon University', 'Department': 'B.Sc. in CSE', 'Courses': 'C Programming, DS, Algo, Java', 'myEmail': 'arifulislamwasim@gmial.com'}

In [18]:
# @title Problem 2.7

dhakaCoordinates = (23.72, 90.40)
print(dhakaCoordinates)

(23.72, 90.4)

In [22]:
# @title Problem 2.8

colorOne = {"Crimson", "Red", "Black","Purple"}
colorTwo = {"Blue","White", "Orange", "Black"}

print("Union : ", colorOne | colorTwo)
print("Intersection : ", colorOne & colorTwo)

Union :  {'Blue', 'Black', 'Orange', 'Crimson', 'Red', 'Purple', 'White'}
Intersection :  {'Black'}

In [26]:
# @title Problem 2.9

num = 10

if num > 0:
  print("Positive")
elif num < 0:
  print("Negative")
else:
  print("Zero")

Positive

In [30]:
# @title Problem 2.10

student = False
studentAge = 20

senior = True
seniorAge = 65


if student == True:
  if studentAge < 25:
    print("Discount Possible")
else:
  print("Discount Not Possible")

if senior == True:
  if seniorAge > 60:
    print("Discount Possible")
else:
  print("Discount Not Possible")

Discount Not Possible
Discount Possible

In [32]:
# @title Problem 2.11

num = int(input("Enter Your Number : "))

for x in range(1,num+1,1):
  if x % 2 == 0:
    print(x)

Enter Your Number : 10
2
4
6
8
10

In [62]:
# @title Problem 2.12


# Number of rows
rows = 5

for i in range(1, rows + 1):

    for j in range(rows - i):
        print(" ", end=" ")

    for k in range(1, i + 1):
        print(k, end=" ")

    for k in range(i - 1, 0, -1):
        print(k, end=" ")

    print()

        1
      1 2 1
    1 2 3 2 1
  1 2 3 4 3 2 1
1 2 3 4 5 4 3 2 1

In [63]:
# @title Problem 2.13

def temperature(c):
  f = (c*9/5)+32
  print("Temperature : ", f)
temperature(50)

Temperature :  122.0

In [66]:
# @title Problem 2.14

def area(l=7,w=5):
  A = l * w
  print("area of a rectangle : ", A)

area()

area of a rectangle :  35